<div class="row">
    <div class="col-12 col-lg-6">
        <img src="/img/pasta-01.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"
            alt="bolsa" />
    </div>

    <div class="col">
        <h1 class="display">Compras extraordinárias de diversos artigos</h1>
        <p class="lead">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat quia
            nesciunt, alias totam animi odio voluptatem doloribus. Provident
            voluptates reiciendis aliquam quos, cum sapiente, ad rem modi laborum
            aspernatur officiis!
        </p>

        <div class="btns d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">
                Explore recentes</a>
            <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">
                Amostra aleatória</a>
        </div>
    </div>
</div>

<!-- categorias -->

<div class="row2">
    <% if(categories !='' ) {%>
        <%categories.forEach(function(category, index){%>
            <a href="/categories/<%-category.nome%>" class="col2 category_link">
                <div class="category_img">
                    <img src="/img/<%-category.imagem%>" alt="<%-category.imagem%>" loading="lazy" />
                </div>
                <div class="pt-1">
                    <p><%-category.nome%></p>
                </div>
            </a>
            <%})%>
                <% } %>
        <a href="/categories" class="col2 category_link">
            <div class="category_img">
                <img src="/img/bolsa-05.jpg" alt="todos artigos" loading="lazy" />
            </div>
            <div class="pt-1">
                <p>Aprecie todos os artigos</p>
            </div>
        </a>
</div>
<!-- categories end -->

<!-- latest start -->

<section class="section">
    <div class="articles">
        <h2>Artigos Recentes</h2>
        <a href="/explore-latest" class="a-start-section">Veja Mais...</a>
    </div>

    <div class="row2">

        <% if(artigo != ''){%>
            <% artigo.latest.forEach(function(artigos, index){ %>

        <a href="/artigo/<%= artigos.id%>" class="col category_link">
            <div class="category_img category_img--large">
                <img src="/uploads/<%= artigos.imagem%>" alt="<%= artigos.nome%>" loading="lazy" />
            </div>
            <div class="pt-1">
                <%= artigos.marca%>
            </div>
            <p><%= artigos.preco%>MZN</p>
        </a>
        <%})%>
        <%} else{ %>
            <p>Nenhum item encontrado</p>
            <%}%>
    
    </div>
</section>
<!-- latest end -->

<!-- latest Bolsas start -->

<section class="section">
    <div class="articles">
        <h2>Bolsas Recentemente Lançadas</h2>
        <a href="/categories/Bolsa" class="a-start-section">Veja Mais...</a>
    </div>

    <div class="row2">

        <% if(typeof artigo.bolsa !== 'undefined' && artigo.bolsa.length>0){%>
            <% artigo.bolsa.forEach(function(artigos, index){ %>

        <a href="/artigo/<%= artigos.id%>" class="col category_link">
            <div class="category_img category_img--large">
                <img src="/uploads/<%= artigos.imagem%>" alt="<%= artigos.nome%>" loading="lazy" />
            </div>
            <div class="pt-1">
                <%= artigos.marca%>
            </div>
            <p><%= artigos.preco%>MZN</p>
        </a>
        <%})%>
       <%} else{ %>
        <p>Nenhum item encontrado</p>
        <%}%>

    </div>
</section>
<!-- latest end -->

<!-- latest Malas start -->

<section class="section">
    <div class="articles">
        <h2>Malas Recentemente Lançadas</h2>
        <a href="/categories/Mala" class="a-start-section">Veja Mais...</a>
    </div>

    <div class="row2">

        <% if(typeof artigo.mala !== 'undefined' && artigo.mala.length>0){%>
            <% artigo.mala.forEach(function(artigos, index){ %>

        <a href="/artigo/<%= artigos.id%>" class="col category_link">
            <div class="category_img category_img--large">
                <img src="/uploads/<%= artigos.imagem%>" alt="<%= artigos.nome%>" loading="lazy" />
            </div>
            <div class="pt-1">
                <%= artigos.marca%>
            </div>
            <p><%= artigos.preco%>MZN</p>
        </a>
        <%})%>
        <%} else{ %>
            <p>Nenhum item encontrado</p>
            <%}%>
    
    </div>
</section>
<!-- latest end -->

<!-- latest Sacola start -->

<section class="section">
    <div class="articles">
        <h2>Sacolas Recentemente Lançadas</h2>
        <a href="/categories/Sacola" class="a-start-section">Veja Mais...</a>
    </div>

    <div class="row2">

        <% if(typeof artigo.sacola !== 'undefined' && artigo.bolsa.length>0){%>
            <% artigo.sacola.forEach(function(artigos, index){ %>

        <a href="/artigo/<%= artigos.id%>" class="col category_link">
            <div class="category_img category_img--large">
                <img src="/uploads/<%= artigos.imagem%>" alt="<%= artigos.nome%>" loading="lazy" />
            </div>
            <div class="pt-1">
                <%= artigos.marca%>
            </div>
            <p><%= artigos.preco%>MZN</p>
        </a>
        <%})%>
        <%} else{ %>
            <p>Nenhum item encontrado</p>
            <%}%>
    
    </div>
</section>
<!-- latest end -->

<!-- latest Carteira start -->

<section class="section">
    <div class="articles">
        <h2>Carteiras Recentemente Lançadas</h2>
        <a href="/categories/Carteira" class="a-start-section">Veja Mais...</a>
    </div>

    <div class="row2">

        <% if(typeof artigo.carteira !== 'undefined' && artigo.carteira.length>0){%>
            <% artigo.carteira.forEach(function(artigos, index){ %>

        <a href="/artigo/<%= artigos.id%>" class="col category_link">
            <div class="category_img category_img--large">
                <img src="/uploads/<%= artigos.imagem%>" alt="<%= artigos.nome%>" loading="lazy" />
            </div>
            <div class="pt-1">
                <%= artigos.marca%>
            </div>
            <p><%= artigos.preco%>MZN</p>
        </a>
        <%})%>
        <%} else{ %>
            <p>Nenhum item encontrado</p>
            <%}%>
    
    </div>
</section>
<!-- latest end -->

<!-- latest Mochila start -->

<section class="section">
    <div class="articles">
        <h2>Mochilas Recentemente Lançadas</h2>
        <a href="/categories/Mochila" class="a-start-section">Veja Mais...</a>
    </div>

    <div class="row2">

        <% if(typeof artigo.mochila !== 'undefined' && artigo.mochila.length>0){%>
            <% artigo.mochila.forEach(function(artigos, index){ %>

        <a href="/artigo/<%= artigos.id%>" class="col category_link">
            <div class="category_img category_img--large">
                <img src="/uploads/<%= artigos.imagem%>" alt="<%= artigos.nome%>" loading="lazy" />
            </div>
            <div class="pt-1">
                <%= artigos.marca%>
            </div>
            <p><%= artigos.preco%>MZN</p>
        </a>
        <%})%>
        <%} else{ %>
            <p>Nenhum item encontrado</p>
            <%}%>
    

    </div>
</section>
<!-- latest end -->

<!-- latest Capas start -->

<section class="section">
    <div class="articles">
        <h2>Capas de Celular Recentemente Lançadas</h2>
        <a href="/categories/Carteira" class="a-start-section">Veja Mais...</a>
    </div>

    <div class="row2">

        <% if(typeof artigo.celular !== 'undefined' && artigo.celular.length>0){%>
            <% artigo.celular.forEach(function(artigos, index){ %>

        <a href="/artigo/<%= artigos.id%>" class="col category_link">
            <div class="category_img category_img--large">
                <img src="/uploads/<%= artigos.imagem%>" alt="<%= artigos.nome%>" loading="lazy" />
            </div>
            <div class="pt-1">
                <%= artigos.marca%>
            </div>
            <p><%= artigos.preco%>MZN</p>
        </a>
        <%})%>
        <%} else{ %>
            <p>Nenhum item encontrado</p>
            <%}%>
    

    </div>
</section>
<!-- latest end -->



<!-- sumit - start -->
<section class="submit">
    <img src="/img/thaba-logo.jpeg" alt="submeta seu pedido agora" class="img" loading="lazy" />

    <h1>Submeta Seu Pedido Agora"</h1>
    <div class="col">
        <div class="link">
            <a href="/submit-artigo" class="btns">Submeta Agora</a>
        </div>
    </div>
</section>

<!-- submit - end -->